<footer class="px-4  bg-light py-4">
  <h3 class="h4">
    <span class="text-main">S</span>hop with Me
  </h3>
  <p class="text-muted">we will send you a link, open it on your phone to download the app.</p>
  <div class="d-flex flex-column flex-md-row   ">
    <input class="mx-auto form-control w-75 ms-md-4" placeholder="Email..." type="email" name="" id="">
    <button class="btn border-0 bg-main text-white me-md-4 px-4 ms-md-auto  mt-md-0 mt-3">Share App Link</button>
  </div>

  <div class="my-4 py-3 p-2 my-2 border-top border-1 border-bottom d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <p class="font-sm mt-2 me-md-4 me-0">Payment Partners</p>
      <div class="logos me-0 row align-items-center">
        <div class="col-md-3 p-0 col-6 ">
          <img [lazyLoad]="'./assets/images/logos/paypal.png'"     class="" width="100" alt="">
        </div>
        <div class="col-md-3 p-0 col-6 d-none d-sm-flex">
          <img [lazyLoad]="'./assets/images/logos/amazon.jpg'"     class=" " width="100" alt="">
        </div>
        <div class="col-md-3 col-6 d-none  d-sm-flex">
          <img  [lazyLoad]="'./assets/images/logos/americanex.png'"   class=" " width="80" alt="">

        </div>
        <div class="col-md-3 pe-0 col-6">
          <img [lazyLoad]="'./assets/images/logos/mastercard.png'" class=" " width="60" alt="">
        </div>
      </div>
    </div>
    <div class="text-center">
      <img loading="lazy" src="./assets/images/logos/img.png" class=" " width="150" alt="">
      <p class="font-sm m-0">Get deliveries with  <span class="text-main">S</span>hop with Me</p>
    </div>

  </div>
</footer>
