.custom-col {
  flex: 0 0 20%; /* Each item takes up 20% of the row */
  max-width: 20%; /* Ensures items do not exceed 20% */
  padding: 0.5rem; /* Adds padding between items */
}

@media (max-width: 768px) {
  .custom-col {
    flex: 0 0 50%; /* On small screens, show 2 items per row */
    max-width: 50%;
  }
}

.wishlist{
  position: absolute;
  top: 8%;
  right: 5px;
  z-index: 99;

  transition: transform 1s , opacity 1s;
  transform: translateX(100%);
  opacity: 0;
}
.wishlist div{
  background-color: #f0f3f2;
  cursor: pointer;
}
.wishlist div:hover{
  background-color: #0aad0a;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wishlist div:active{
  transform: scale(0.95);
}

.product:hover .wishlist
{
  opacity: 1;
  transform: translateX(0%);
}
