<div class="container py-2 my-5">
  <div class="picture rounded rounded-5 bg-danger d-flex align-items-center">
    <div class="mx-5">
      <h3>Welcome back To
        <span class="text-main">S</span>hop with Me
      </h3>
      <button class="btn py-2 my-2" id="btn">Create Product</button>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <div class="card card-lg">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-baseline">
            <p class="fw-bolder fs-5">Earnings</p>
            <div class="rounded-pill d-flex justify-content-center align-items-center"
                 style="width: 40px;height: 40px;background-color: #f8d6d6 ">
              <i class="fa-solid fa-dollar-sign"></i>
            </div>
          </div>
          <div>
            <p class="fw-bolder fs-4">$93,438.78</p>
            <p class="fw-bolder text-muted fs-6">Monthly revenue</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-lg">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-baseline">
            <p class="fw-bolder fs-5">Orders</p>
            <div class="rounded-pill d-flex justify-content-center align-items-center"
                 style="width: 40px;height: 40px;background-color: #fff3cd">
              <i class="fa-brands fa-opencart"></i>
            </div>
          </div>
          <div>
            <p class="fw-bolder fs-4">$93,438.78</p>
            <p class="fw-bolder fs-6">35+
              <span class="text-muted">New Sales</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-lg">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-baseline">
            <p class="fw-bolder fs-5">Earnings</p>
            <div class="rounded-pill d-flex justify-content-center align-items-center"
                 style="width: 40px;height: 40px;background-color: #cce1fe ">
              <i class="fa-solid fa-users"></i>
            </div>
          </div>
          <div>
            <p class="fw-bolder fs-4">$93,438.78</p>
            <p class="fw-bolder fs-6">30+
              <span class="text-muted">new in 2 days</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
