<div class="container ">
  <app-toast></app-toast>
  <div class="cart-container">
    <div class="d-flex justify-content-between align-items-center mx-5 border-bottom border-black border-opacity-25 py-3">
      <h3 class="fw-bold h5">Shop WishList</h3>
    </div>
    <div *ngIf="wishList.length === 0" class="text-center py-2">
      <p class="text-muted">Your WishList is currently empty.</p>
    </div>
    <div class="scrollable-content">
      <table class="w-100 table">
        <thead>
        <tr class="font-sm">
          <th></th>
          <th>Product</th>
          <th>Price</th>
          <th>Availability</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of wishList" class="py-2 px-1 mb-1">
          <td class="text-center">
            <img [src]="item.imageURL" width="50px" height="50px" class="object-fit-contain" alt="">
          </td>
          <td>
            <div class="font-sm ">
              <p (click)="onNavigate(item.id)" class="m-0 cursor-pointer">{{item.title | seemore: 3}}</p>
            </div>
          </td>
          <td>
            <p class="text-muted m-0">{{item.availability}}</p>
          </td>
          <td>
            <div>
              <p class="fw-bold m-0">{{item.price|dollarToDh|currency:"Dh"}}</p>
            </div>
          </td>
          <td>
            <p (click)="removeItem(item)" class="text-muted cursor-pointer m-0 text-center" >
              <i class="fa-solid fa-trash-can pe-2 text-danger"></i>remove
            </p>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <button class="btn bg-main text-white">continue shoping</button>
      </div>
    </div>
  </div>
</div>
