<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <h3 class="navbar-title fs-4 ms-2 me-4">
      <span class="text-main">S</span>hop with Me</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse my-2 my-md-0" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isLogin" class="nav-item ">
          <a class="nav-link " routerLinkActive="active-link" routerLink="home">
            <i class="fas fa-home me-1"></i>
            <span>Home</span>
          </a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link " routerLinkActive="active-link" routerLink="categories">
            <i class="fa-solid fa-layer-group me-1"></i>
            <span>Categories</span>
          </a>
        </li>
        <!--
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="brands">Brands</a>
        </li>
        -->
      </ul>

      <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center justify-content-center my-2">
          <i class="fab fa-instagram mx-2" ></i>
          <i class="fab fa-facebook mx-2" ></i>
          <i class="fab fa-tiktok mx-2" ></i>
          <i class="fab fa-linkedin mx-2" ></i>
          <i class="fab fa-youtube mx-2" ></i>
        </li>
        <li *ngIf="!isLogin" class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
        <li *ngIf="!isLogin" class="nav-item"><a class="nav-link" routerLink="register">Register</a></li>
        <li *ngIf="isLogin"  class="nav-item">
          <span class="nav-link cursor-pointer" (click)="logout()" >Logout</span>
        </li>
        <li *ngIf="isLogin"  class="nav-item">
          <a class="nav-link" routerLink="settings" >Settings</a>
        </li>
        <li *ngIf="isLogin" class="nav-item ">
          <a #cart class="nav-link cursor-pointer position-relative " (click)="toggleCart()">
            <i class="fas fa-shopping-cart me-1"></i>
            <div class="bg-main text-white rounded text-center d-flex justify-content-center align-items-center position-absolute top-0 end-0"
                 style="width: 15px ;height: 15px ;font-size: 10px">
              <span>{{numberOfItems}}</span>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
