<div class="w-75 mx-auto py-4 d-flex align-items-center justify-content-center  " style="height: 75vh">
  <div class="w-100">
    <h4>Login Now :</h4>

    <div class="alert alert-danger" *ngIf="apiError">
      {{apiError}}
    </div>

    <form (ngSubmit)="handleLogin(loginForm)" [formGroup]="loginForm">
      <label for="email" >email:</label>
      <input type="email" formControlName="email" class="form-control mb-2"  id="email">

      <label for="password" >password:</label>
      <input type="password" formControlName="password" class="form-control mb-2" id="password" >

      <div class="alert alert-danger"  *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
        <p class="m-0" *ngIf="loginForm.get('password')?.getError('required')">password  is required</p>
      </div>
      <div class="alert alert-danger"  *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
        <p class="m-0" *ngIf="loginForm.get('email')?.getError('required')">email  is required</p>
      </div>
      <button [disabled]="loginForm.invalid" class="btn bg-main border-0 text-white d-block ms-auto" type="submit">
        <i class="fas fa-spinner fa-spin" *ngIf="isLoading;else myTemplate"></i>
        <ng-template #myTemplate>
          <span>Login</span>
        </ng-template>
      </button>
    </form>
  </div>
</div>
