
<div class="container-fluid offers mb-5">
  <div class="row py-4 gx-0" >
    <div class="col-md-7 " style="background-color: white" *ngIf="products.length!==0;else myTemplate">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let product of products">
          <ng-template carouselSlide>
            <a [routerLink]="['/productsdetails',product.id]">
              <img  [lazyLoad]="product.imageURL" height="400" class="w-75 product border-0 mx-auto object-fit-contain"  [alt]="product.description" [title]="product.title| seemore:3">
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <ng-template #myTemplate>
      <div class="col-md-7 d-flex justify-content-center align-items-center">
        <img src="/assets/images/offers/img.png" class="w-100" alt="">
      </div>
    </ng-template>

    <div class="col-md-5 ">
      <img src="assets/images/offers/img_1.png" height="200" class="w-100 object-fit-cover" alt="">
      <img src="assets/images/offers/lol.png" height="250" class="w-100 object-fit-cover" alt="">
    </div>
  </div>
</div>

