<div class="row container-fluid">
  <div class="col-lg-2 col-4  border-end-dotted py-3 position-relative bg-white" style="min-height: 80vh">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 position-fixed start-0 top-0 bottom-0 my-5 py-5">
      <li  class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="main">
          <i class="fas fa-home me-2"></i>
          <span>DashBoard</span>
        </a>
      </li>
      <span>Store Managements</span>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="product">
          <i class="fa-solid fa-cart-plus me-2"></i>
          <span>Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="category">
          <i class="fa-solid fa-list me-2"></i>
          <span>Categories</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="order">
          <i class="fa-solid fa-bag-shopping me-2"></i>
          <span >Order</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-lg-10 col-8">
    <router-outlet></router-outlet>
  </div>
</div>
